<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="keywords" content="SUM,sumcoin,mining,profit,calculator,coin,crypto,cryptocurrency,bitcoin,BTC,market,money,slice wallet">
    <meta name="description" content="A simple Sumcoin Mining Calculator">
    <meta property="og:title" content="Sumcoin | Mining Yield Calculator" />
	<meta name="author" content="Sumcoin Mining Calculator" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--  <meta http-equiv="refresh" content="300"> -->
    <body style="background-color:#fafdff;">
        
        
<!-- Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-101587237-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-101587237-1');
</script>

<!-- END GA -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="main.js"></script>

</head>
<body>

    <div ng-app="app-calculator" ng-controller="mainController" ng-cloak>

        <div class="text-center" style="margin: 3em">
            <img style="max-height: 100px; max-width: 100px;" id="logo" src="img/sum_logo.png">
            <h2>Sumcoin Mining Profit Calculator</h2>
        </div>
<center><h4>Default configs reflect average laptop</h4></center> 

        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10 text-center">
                <form id="main-form" style="padding: 2em;" class="form-horizontal">
                    <p>Set your Hash power</p>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Hashing Power:</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input ng-model="hashingPower" type="number" style="width: auto; display: inline-block;" class="form-control" placeholder="10">
                                <select ng-model="hashingUnitOptions.selectedHashingUnit"
                                        ng-options="unit.name for unit in hashingUnitOptions.availablehashingUnits track by unit.value"
                                        style="width: auto; display: inline-block;" class="selectpicker form-control"></select>
                            </div>
                        </div>
                    </div>
                    
                    <p>Approxamate Power Draw</p>
                    <div class="form-group">
                        <label class="control-label col-sm-2" >Power Draw(w):</label>
                        <div class="col-sm-10">
                            <input ng-model="machineWattage" type="number" class="form-control" placeholder="150W">
                        </div>
                    </div>
                    
                    <p>Cost per KilloWatt - <i>Look on your power bill</i></p>
                    <div class="form-group">
                        <label class="control-label col-sm-2" >Power Cost(kWh):</label>
                        <div class="col-sm-10">
                            <input ng-model="powerCost" type="number" class="form-control" placeholder="0.15 kWh">
                        </div>
                    </div>
                    
                </form>
            </div>
            <div class="col-sm-1"></div>
        </div>

        <br />
        <br />

<center>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <table id="main-table" style="margin-center: auto; margin-right: auto;width: auto;" class="table table-bordered table-striped">
                <tr>
                    <th>Profit</th>
                    <th>SUM</th>
                    <th>USD</th>
                    <th>GBP</th>
                    <th>EUR</th>
                    <th>Power Cost</th>
                    <th>Profit</th>
                </tr>
                <tr>
                    <td>Per Day</td>
                    <td>&#120506; {{getSUMPerDay()}}</td>
                    <td>$ {{getUSDPerDay()}}</td>
                    <td>$ {{getGBPPerDay()}}</td>
                    <td>$ {{getEURPerDay()}}</td>
                    <td>$ {{getPowerCostPerDay()}}</td>
                    <td>$ {{getProfitPerDay()}}</td>
                </tr>
                <tr>
                    <td>Per Week</td>
                    <td>&#120506; {{(getSUMPerDay() * 7).toPrecision(2)}}</td>
                    <td>$ {{(getUSDPerDay() * 7).toFixed(2)}}</td>
                    <td>$ {{(getGBPPerDay() * 7).toFixed(2)}}</td>
                    <td>$ {{(getEURPerDay() * 7).toFixed(2)}}</td>
                    <td>$ {{(getPowerCostPerDay() * 7).toFixed(2)}}</td>
                    <td>$ {{(getProfitPerDay() * 7).toFixed(2)}}</td>
                </tr>
                <tr>
                    <td>Per Month</td>
                    <td>&#120506; {{(getSUMPerDay() * 30).toPrecision(2)}}</td>
                    <td>$ {{(getUSDPerDay() * 30).toFixed(2)}}</td>
                    <td>$ {{(getGBPPerDay() * 30).toFixed(2)}}</td>
                    <td>$ {{(getEURPerDay() * 30).toFixed(2)}}</td>
                    <td>$ {{(getPowerCostPerDay() * 30).toFixed(2)}}</td>
                    <td>$ {{(getProfitPerDay() * 30).toFixed(2)}}</td>
                </tr>
                <tr>
                    <td>Per Year</td>
                    <td>&#120506; {{(getSUMPerDay() * 365).toPrecision(2)}}</td>
                    <td>$ {{(getUSDPerDay() * 365).toFixed(2)}}</td>
                    <td>$ {{(getGBPPerDay() * 365).toFixed(2)}}</td>
                    <td>$ {{(getEURPerDay() * 365).toFixed(2)}}</td>
                    <td>$ {{(getPowerCostPerDay() * 365).toFixed(2)}}</td>
                    <td>$ {{(getProfitPerDay() * 365).toFixed(2)}}</td>
                </tr>
            </table>
            </div>
            <div class="col-sm-1"></div>
        </div>
</center>
        <br />
        <br />
<hr>
<center>       
        <h2>Start Mining Now at Sumcoinpool.org</h2>
  <div class="btn-group btn-group-lg">
  <div class="btn-group btn-group-lg"><a href='http://sumcoinpool.org/index.php?page=register'><button type="button1" class="btn btn-success">Click here to register</button></a>
  
  <br>
  <br>
</center> 
<hr>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10 text-center">
                <p style="max-width: 100%;">Data changes constantly in mining
                    <a href="www.sumcoinindex.com" target="_blank">sumcoinindex.com</a> & network data from
                    <a href="www.sumexplorer.com" target="_blank">sumexplorer.com</a>. This information is also
                    based off a 50 coin block reward <a href="https://en.bitcoin.it/wiki/Controlled_supply#Projected_Bitcoins_Short_Term" target="_blank">which is subject to change at any time</a>.</p>
            </div>
            <div class="col-sm-1"></div>
        </div>



    </div>


</body>
</html>
